# Advanced filtering Excel data with Python(Pandas)

The Excel file used in this tutorial belongs to Leila Gharani. Watch her Excel version of this tutorial here https://www.youtube.com/watch?v=VqQACB_69SQ.

In this tutorial, I do Ms. Gharani's tutorial of advanced filtering using Python with the Pandas library. 

Excel is a great tool at the hands of an expert. However, most Excel newbies get to filtering tasks and don't realize that Excel has returned them a wrong output. When filtering, Excel won't always give you what you ask for without making proper adjustments. 

On the other hand, Python will always give you what you ask of it without mistakes.

In [1]:
import pandas as pd

In [30]:
df = pd.read_excel('advancedfilter.xlsx', sheet_name = 'Advanced', skiprows = 3).loc[:, 'Channel':'Sales Value']
df

           Channel       Product       Date  Sales Value
0          Website    Shirt blue 2018-01-08          200
1            Store   Shirt white 2018-01-08          250
2   Affiliate site    Pants Blue 2018-01-11          300
3            Store    Shirt blue 2018-02-10          260
4   Affiliate site  Shirt yellow 2018-02-10          270
5          Website    Shirt blue 2017-12-20          280
6            Store    Pants Blue 2017-11-01          100
7            Store    Shirt blue 2017-11-01          500
8          Website  Shirt yellow 2017-11-01          410
9            Store   Pants Black 2017-12-20          300
10  Affiliate site    Pants Blue 2017-12-20          400
11           Store   Shirt white 2017-12-20          100
12           Store   Pants Black 2018-01-08          401
13  Affiliate site    Pants Blue 2018-01-08          430
14           Store    Shirt blue 2018-01-08          285
15  Affiliate site   Shirt white 2018-01-11          344
16           Store   Shirt white 2018-02-10          304
17           Store    Pants Blue 2018-01-10          431
18  Affiliate site  Shirt yellow 2018-01-10          298
19           Store  Shirt yellow 2018-01-10          258
20           Store   Pants Black 2018-01-10          251
21           Store    Pants Blue 2017-12-10          260
22  Affiliate site   Shirt white 2017-12-10          415
23           Store   Pants Black 2017-11-10          266
24           Store    Shirt blue 2017-11-10          425
25  Affiliate site   Shirt white 2018-01-08          429

## Filtering the table for which the 'Channel' column only has 'Store'.
I want to diplay only the portion of the data frame when Channel = "Store".

In [31]:
df.loc[df.Channel == 'Store', :]

   Channel       Product       Date  Sales Value
1    Store   Shirt white 2018-01-08          250
3    Store    Shirt blue 2018-02-10          260
6    Store    Pants Blue 2017-11-01          100
7    Store    Shirt blue 2017-11-01          500
9    Store   Pants Black 2017-12-20          300
11   Store   Shirt white 2017-12-20          100
12   Store   Pants Black 2018-01-08          401
14   Store    Shirt blue 2018-01-08          285
16   Store   Shirt white 2018-02-10          304
17   Store    Pants Blue 2018-01-10          431
19   Store  Shirt yellow 2018-01-10          258
20   Store   Pants Black 2018-01-10          251
21   Store    Pants Blue 2017-12-10          260
23   Store   Pants Black 2017-11-10          266
24   Store    Shirt blue 2017-11-10          425

In [35]:
df.Product.unique()

array(['Shirt blue', 'Shirt white', 'Pants Blue', 'Shirt yellow',
       'Pants Black'], dtype=object)

## Filtering out the "Pants Blue" item from the column "Product".
I want to display only the portion of the data frame for which the item "Pants Blue" is not in the "Product" column. There are many different ways to approach this with Pandas. I will do it with two different methods. 
#### Method 1:

In [36]:
df.loc[df.Product != 'Pants Blue', :]

           Channel       Product       Date  Sales Value
0          Website    Shirt blue 2018-01-08          200
1            Store   Shirt white 2018-01-08          250
3            Store    Shirt blue 2018-02-10          260
4   Affiliate site  Shirt yellow 2018-02-10          270
5          Website    Shirt blue 2017-12-20          280
7            Store    Shirt blue 2017-11-01          500
8          Website  Shirt yellow 2017-11-01          410
9            Store   Pants Black 2017-12-20          300
11           Store   Shirt white 2017-12-20          100
12           Store   Pants Black 2018-01-08          401
14           Store    Shirt blue 2018-01-08          285
15  Affiliate site   Shirt white 2018-01-11          344
16           Store   Shirt white 2018-02-10          304
18  Affiliate site  Shirt yellow 2018-01-10          298
19           Store  Shirt yellow 2018-01-10          258
20           Store   Pants Black 2018-01-10          251
22  Affiliate site   Shirt white 2017-12-10          415
23           Store   Pants Black 2017-11-10          266
24           Store    Shirt blue 2017-11-10          425
25  Affiliate site   Shirt white 2018-01-08          429

For the first method, we had to be case sensitive, or we could've gotten undesirable results. Suppose we didn't know which letters were capitalized or not? In other words, suppose we don't care about case sensitivity and still want the right results? Here is my second method.
#### Method 2:

In [42]:
index = df.Product.str.contains('pants blue', case = False).replace({False: True, True: False})
df.loc[index, :]

           Channel       Product       Date  Sales Value
0          Website    Shirt blue 2018-01-08          200
1            Store   Shirt white 2018-01-08          250
3            Store    Shirt blue 2018-02-10          260
4   Affiliate site  Shirt yellow 2018-02-10          270
5          Website    Shirt blue 2017-12-20          280
7            Store    Shirt blue 2017-11-01          500
8          Website  Shirt yellow 2017-11-01          410
9            Store   Pants Black 2017-12-20          300
11           Store   Shirt white 2017-12-20          100
12           Store   Pants Black 2018-01-08          401
14           Store    Shirt blue 2018-01-08          285
15  Affiliate site   Shirt white 2018-01-11          344
16           Store   Shirt white 2018-02-10          304
18  Affiliate site  Shirt yellow 2018-01-10          298
19           Store  Shirt yellow 2018-01-10          258
20           Store   Pants Black 2018-01-10          251
22  Affiliate site   Shirt white 2017-12-10          415
23           Store   Pants Black 2017-11-10          266
24           Store    Shirt blue 2017-11-10          425
25  Affiliate site   Shirt white 2018-01-08          429

## Showing only rows when the column "Product" contains the word "Pants" and column "Channel" is "Store".
If the column "Product" contains the word "Pants" and the column "Channel" is restricted to "Store", display that row.

In [44]:
index = df.Product.str.contains('pants', case = False)
df.loc[index, :].loc[df.Channel == 'Store', :]

   Channel      Product       Date  Sales Value
6    Store   Pants Blue 2017-11-01          100
9    Store  Pants Black 2017-12-20          300
12   Store  Pants Black 2018-01-08          401
17   Store   Pants Blue 2018-01-10          431
20   Store  Pants Black 2018-01-10          251
21   Store   Pants Blue 2017-12-10          260
23   Store  Pants Black 2017-11-10          266

## Showing only rows when the column "Product" contains the word "shirt white" and column "Channel" is set to "Store".

In [48]:
index1 = df.Product.str.contains('shirt white', case = False)
index2 = df.Channel.str.contains('store', case = False)
Index = index1 & index2
df.loc[Index, :]

   Channel      Product       Date  Sales Value
1    Store  Shirt white 2018-01-08          250
11   Store  Shirt white 2017-12-20          100
16   Store  Shirt white 2018-02-10          304

## Displaying only rows for the following conditions:
1. "Channel" = "Store" and "Product" contains "pants" or "shirt white" and
2. Sales Value is between 200 and 400(exclusive).

In [61]:
index1 = df.Product.str.contains('pants|shirt white', case = False)
index2 = (df['Sales Value'] > 200) & (df['Sales Value'] < 400)
Index = index1 & index2
df.loc[Index, :].loc[df.Channel == 'Store', :]

   Channel      Product       Date  Sales Value
1    Store  Shirt white 2018-01-08          250
9    Store  Pants Black 2017-12-20          300
16   Store  Shirt white 2018-02-10          304
20   Store  Pants Black 2018-01-10          251
21   Store   Pants Blue 2017-12-10          260
23   Store  Pants Black 2017-11-10          266

## Finding the unique values of column "Product".

In [70]:
un = df.Product.unique()
for i in un:
    print(i)

Shirt blue
Shirt white
Pants Blue
Shirt yellow
Pants Black